{% embed "VirhiAdminBundle:Theme:header.html.twig" %}
    {% block site_title %}
        <a href="{{ path('virhi_lazy_mock_api_ui_homepage') }}" class="logo"><b>Virhi Lazy Mock Api</b></a>
    {% endblock %}
{% endembed %}